<%= @library.name %>

<%= link_to "Authors at This Library", "#{@library.id}/authors" %>

<div id="most_popular_authors">
  <% @library.most_popular_authors.each do |author| %>
    <%= author.name %>
  <% end %>
</div>
