<p>Book Show Page</p>
<h1>Title: <%= @book.title %></h1>
<h2>Genre: <%= @book.genre %></h2>
<h2>Library: <%= @library.name %> </h2>

<h2>Authors</h2>
<% @book.authors.each do |author| %>
  <%= author.name %>
<% end %>
